/*@font-face {
  font-family: 'Montserrat-Black';
  src: url('../fonts/montserrat-black.eot') format('embedded-opentype'),  url('Montserrat-Black.otf')  format('opentype'),
	     url('Montserrat-Black.woff') format('woff'), url('../fonts/montserrat-black.ttf')  format('truetype'), url('../fonts/montserrat-black.svg#montserrat-black') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/montserrat-bold.eot') format('embedded-opentype'),  url('Montserrat-Bold.otf')  format('opentype'),
	     url('Montserrat-Bold.woff') format('woff'), url('../fonts/montserrat-bold.ttf')  format('truetype'), url('../fonts/montserrat-bold.svg#montserrat-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../fonts/montserrat-extrabold.eot') format('embedded-opentype'),  url('Montserrat-ExtraBold.otf')  format('opentype'),
	     url('Montserrat-ExtraBold.woff') format('woff'), url('../fonts/montserrat-extrabold.ttf')  format('truetype'), url('../fonts/montserrat-extrabold.svg#montserrat-extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('../fonts/montserrat-hairline.eot') format('embedded-opentype'),  url('Montserrat-Hairline.otf')  format('opentype'),
	     url('Montserrat-Hairline.woff') format('woff'), url('../fonts/montserrat-hairline.ttf')  format('truetype'), url('../fonts/montserrat-hairline.svg#montserrat-hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../fonts/montserrat-light.eot') format('embedded-opentype'),  url('Montserrat-Light.otf')  format('opentype'),
	     url('Montserrat-Light.woff') format('woff'), url('../fonts/montserrat-light.ttf')  format('truetype'), url('../fonts/montserrat-light.svg#montserrat-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/montserrat-regular.eot') format('embedded-opentype'),  url('Montserrat-Regular.otf')  format('opentype'),
	     url('Montserrat-Regular.woff') format('woff'), url('../fonts/montserrat-regular.ttf')  format('truetype'), url('../fonts/montserrat-regular.svg#montserrat-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/montserrat-semibold.eot') format('embedded-opentype'),  url('Montserrat-SemiBold.otf')  format('opentype'),
	     url('Montserrat-SemiBold.woff') format('woff'), url('../fonts/montserrat-semibold.ttf')  format('truetype'), url('../fonts/montserrat-semibold.svg#montserrat-semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../fonts/montserrat-ultralight.eot') format('embedded-opentype'),  url('Montserrat-UltraLight.otf')  format('opentype'),
	     url('Montserrat-UltraLight.woff') format('woff'), url('../fonts/montserrat-ultralight.ttf')  format('truetype'), url('../fonts/montserrat-ultralight.svg#montserrat-ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}*/